select {
  -webkit-appearance:none;
   border:0px;
   outline:0px;
}

.watch-select {
  border-radius: 0px;
  background-color: transparent;
  color: white;
  padding: 3px;
  padding-right: 20px;
  font-size: 1em;
  background: url(../../../public/arrow-down-white.svg) no-repeat 100% transparent;
  background-size: 12px;
}