.watcher-add {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 0;
  align-items: center;
  justify-content: center;
  background: #FC354C;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  min-width: 0;
  outline: none;
  padding: 16px;
  position: fixed;
  user-select: none;
  height: 56px;
  width: 56px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  z-index: 9999;
  bottom: 25px;
  right: 25px;
}

.watcher-add:active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.watcher-add-cross {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  fill: currentcolor;
  stroke: none;
  width: 24px;
  height: 24px;
}

.watcher-add-cross-svg {
  pointer-events: none; display: block; width: 100%; height: 100%;
}