.watcher-header-title {
  font-size: 20px;
  font-weight: 700;
  color: #072236;
  text-transform: uppercase;
}
.burger {
  color: grey;
}
.watcher-logo {
  color: grey;
  cursor: pointer;
  height: 25px;
  margin-left: 1em;
}

.watcher-ico-menu {
  margin-right: 1em;
  font-size: 1.5rem;
  color: #072236;
}

.w-config-header {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-between;
}
.w-config-header h2 {
  color: #0cacf8;
}
.watcher-ico-close {
  font-size: 1.5em;
}

.w-config-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.w-config-form div {
  margin: 10px 0;
  width: 100%;
}
.w-config-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #dedede;
}
.w-config-form input#submit {
  background-color: #0cacf8;
  border: 0;
  color: white;
  padding: 20px;
  font-size: 1.4em;
}
.w-config-form label {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  color: #555;
  display: block;
}