.watcher-header-title {
  font-size: 20px;
  font-weight: 700;
  color: #072236;
  text-transform: uppercase;
}
.burger {
  color: grey;
}
.watcher-logo {
  color: grey;
  cursor: pointer;
  height: 25px;
  margin-left: 1em;
}

.watcher-ico-menu {
  margin-right: 1em;
  font-size: 1.5rem;
  color: #072236;
}
