.w-when {
  display: flex;
  flex-direction: column;
}

.w-when-row {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.w-when-arrow {
  margin-left: 5px;
}