.w-is {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.w-is-select {
  border-radius: 0px;
  background-color: transparent;
  color: white;
  padding: 3px;
  padding-right: 20px;
  font-size: 1em;
  background: url(../../public/arrow-down-white.svg) no-repeat 100% transparent;
  background-size: 12px;
}

.w-is-text {
  background-color: transparent;
  border: none;
  border-bottom: white solid 1px;
  outline: none;
  width: 100px;
  font-size: 1em;
  color: white;
}