.w-i {
  display: flex;
  flex-direction: column;
}
.w-is {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.w-is-select {
  border-radius: 0px;
  background-color: transparent;
  color: white;
  padding-right: 20px;
  font-size: 1em;
  background: url(../../public/arrow-down-white.svg) no-repeat 100% transparent;
  background-size: 12px;
  border-bottom: white solid 1px;
  margin-right: 20px;
}

.w-is-select option{
  color:black;
}

.w-is-text {
  background-color: transparent;
  border: none;
  border-bottom: white solid 1px;
  outline: none;
  width: 100px;
  font-size: 1em;
  color: white;
  padding: 0;
  margin-left: 5px;
  text-align: right;
}

span.w-is-text {
  text-align: center;
  border: none;
}
.w-flex-1 {
  flex: 1;
}

.w-is-alert {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: white;
  padding: 10px 10px 10px 10px;
}
