.bg-red {
  background-color: #0CACF8 !important;
}

.content {
  margin-top:56px;
  display: flex;
  flex-direction: column;
}

.w-rows {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 112px);
}
