.w-config-header{
  display: flex;
  justify-content: space-between;
  height: 56px;
}
.w-config-save {
  padding: 0 20px;
  border: none;
  color: white;
  background-color: #0CACF8;
  font-size: 24px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.w-config-alert-name {
  flex: 1;
  outline: 0;
  border: 0;
  padding-left: 10px;
  font-size: 21px;
}
.inactive {
  background-color: #cdeefe;
}