.w-config-header{
  display: flex;
  justify-content: space-between;
  background-color: #29221F
}
.w-config-save {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: transparent;
  outline: none;
}
.w-config-name {
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
}