.w-config-header{
  display: flex;
  justify-content: space-between;
  background-color: #29221F
}
.w-config-save {
  padding: 10px 20px;
  border: none;
  color: black;
}
.w-config-alert-name {
  flex: 1;
  outline: 0;
  border: 0;
  padding-left: 10px;
}