.w-progress-container {
  display: flex;
  justify-content: center;
}

.w-progress {
  width: 100%;
  background-color: #E2E9F1;
  border-radius: 150px;
  height: 13px;
}

.w-progress-bar {
  background-color: #D466E6;
  border: 2px solid #FAFCFE;
  color: white;
  border-radius: 150px;
  height: 100%;
}
