.w-home-view{
  width:100%;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.w-alert-list {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 102px;
  overflow-y: scroll;
  padding: 0 1em 0 1em;
  padding-bottom: 102px; /* padding-bottom == top */
}

.w-alert-list::-webkit-scrollbar {
  display: none;
}

.w-home-tabs{
  width:100%;
  display: flex;
  margin-top: 1em;
  position: fixed;
  padding: 0 1em 0 1em;
}
