.w-home-view {
  width:100%;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.w-alert-list {
  padding: 0 1em 0 1em;
  margin-top: 45px;
}

.w-alert-list::-webkit-scrollbar {
  display: none;
}

.w-home-tabs-container {
  position: fixed;
  z-index: 999;
  height: 45px;
  width: 100%;
  background-color: #FAFCFE;
}

.w-home-tabs{
  width:100%;
  display: flex;
  margin-top: 1em;
  padding: 0 1em 0 1em;
}