.w-alert-item {
  width: 100%;
  margin-bottom: 1em;
  background-color:white;
  /* box-shadow: 0px 0px 1px 1px #cfcfcf; */
  margin-right: 0;
  transition: all 0.3s ease-out;
  right: 0;
  border-radius: 2px;
  border: 1px solid #D1E4EB;
}

.w-website {
  color:#13747D;
  font-size: 1.1rem;
  margin: 0;
}
.w-alert-item.w-alert-deleted {
  display: none;
}

.w-alert-item h2 {
  color: #072236;
  margin: 0;
}
.w-alert-item h4 {
  margin: 0.5em 0;
}

.w-alert-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFCFE;
  padding: 1rem 1.2rem;
  border-radius: 2px;
  width: 100%;
  color: #072236;
  border-bottom: 1px solid rgba(209,228, 235, .3);
}

.w-alert-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFCFE;
  padding: 1em;
  flex-direction: row-reverse;
  border-radius: 2px;
  font-size: 11px;
  color: #4B6073;
  border-top: 1px solid rgba(209,228, 235, .3);
}

.w-alert-item-footer > a {
  color: #4B6073;
  font-weight: 600;
}

.w-alert-item-footer > a > i {
  font-weight: 600;
  font-size: 1.2rem;
}

.w-alert-item-graph {
  padding: 1em;
  background-color: #FAFCFE;
}

.w-alert-site {
  color: #0CACF8;
  font-size: 0.6em;
  font-weight: 700;
}

.w-kpi {
  text-align: center;
  background-color: white;
  margin: 16px 0 24px 0;
}

.w-kpi-value {
  font-size: 3.5em;
  font-weight: 700;
  color: #4B6073;
  margin: 0;
}

.w-kpi-metric {
  text-transform: uppercase;
  color: #0CACF8;
  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 1.3rem;
  margin: 0;
  margin-top: -10px;
}

.w-delete-alert:hover {
  color: #0CACF8;
  cursor: pointer;
}

.w-alert-progress-description {
  font-size: 12px;
  color: #072236;
  letter-spacing: 0;
}

.w-progress-value {
  font-size: 10px;
  color: #4B6073;
  letter-spacing: 0;
}

.w-progress-percentage {
  font-weight: bold;
}

.w-progress-val {
}

.w-alert-item-graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  padding: 1em 0;
}

.w-alert-label {
  font-weight: 700;
  font-size: 1rem;
  color: #4B6073;
  text-transform: uppercase;
  position: relative;
}

.w-alert-label::after {
  height: 3px;
  width: 20px;
  content: '';
  position: absolute;
  top: 17px;
  left: 0;
  background: #D466E6;
}
