.w-alert-item {
  width: 100%;
  margin-bottom: 1em;
  background-color:#F5F5F5;
  box-shadow: 0px 0px 1px 1px #cfcfcf;
  padding: 0 1em 1em 1em;
}

.w-alert-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-delete-alert {
  cursor: pointer;
  color: black;
  transition: color 0.1s ease-in-out;
}
.w-delete-alert:hover {
  color: #FC354C;
}