/*:root{
  --m-red: #FC354C;
  --m-blue-dark: #13747D;
  --m-blue-light: #0ABFBC;
  --m-black: #29221F;
  --background-light: #FCF7C5;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("/fonts/OpenSans/OpenSans-CondLight.ttf")  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("/fonts/OpenSans/OpenSans-CondBold.ttf")  format('truetype');
  font-weight: 700;
  font-style: normal;
}


* {
  font-family: 'Open Sans Condensed', sans-serif;
}

.w-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.watcher-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 56px;
  border-bottom: solid 1px gray;
  z-index:100;
  padding-right: 1em;
}

h2, h3, h4 {
  font-weight: 300;
}

h2 {
  margin: 0.2em 0;
}
