.w-content {
  margin-top: 56px;
}

.w-input-label {
  font-weight: 700;
  font-size: 1rem;
  color: #4B6073;
  text-transform: uppercase;
  position: relative;
}

.w-input-label::after {
  height: 3px;
  width: 20px;
  content: '';
  position: absolute;
  top: 17px;
  left: 0;
  transition: background-color .3s ease;
}
.w-input-label.w-is-empty::after {
  background-color: #F1404B;
}
.w-input-label.w-is-not-empty::after {
  background-color: #10CFBD;
}

.w-add-alert-link {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 1em 0;
  cursor: pointer;
}
.w-add-alert-link a {
  color: #4B6073;
  text-decoration: none;
}

.w-input-container {
  display: flex;
  background-color: white;
  border: 1px solid #D1E4EB;
  border-width: 1px 0;
  flex-direction: column;
  padding: 0 1.5em;
  margin-top: 1em;
}

.w-save-button {
  -webkit-appearance: none;
  border-radius: 0;
  margin: 1em;
  width: calc(100% - 2em);
  background-color: #0CACF8;
  height: 2em;
  font-size: 2em;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.w-kpi-form {
  margin-top: 56px;
}

.w-back-kpi {
  position: fixed;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #D1E4EB;
  padding: 1em 1.5em;
  align-items: center;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.w-back-kpi a {
  color: #4B6073;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}